{% extends 'global/base.html' %}
{% load static %}
{% block title %}Companybook - Conexões ao seu alcance 🌐{% endblock title %}
{% block content %}
<link rel="stylesheet" href={% static 'css/list.css' %}>
{% include "partials/search_form.html"%}
<hr>
{% include "partials/table.html" with subs=subs %}
{% if is_paginated %}
<nav>
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <li class="page-item">
        <a class="page-link" href="/search?category={{c}}&location={{l}}&search_term={{s}}&page=1">&laquo;</a>
      </li>
      </span>
    </li>
    <li class="page-item"><a class="page-link" href="/search?category={{c}}&location={{l}}&search_term={{s}}&page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
    {% endif %}

    <li class="page-item active" aria-current="page">
      <span class="page-link">{{ page_obj.number }}</span>
    </li>
    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="/search?category={{c}}&location={{l}}&search_term={{s}}&page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
    <li class="page-item">
      <a class="page-link" href="/search?category={{c}}&location={{l}}&search_term={{s}}&page={{ page_obj.paginator.num_pages }}">&raquo;</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{% endblock content %}