{% load static %}
<div class="col-md-9">
  <div class="p-5 bg-white border rounded-3">
    
    <img class="img-fluid w-50 mb-5" src={% static 'images/logo2s.png' %} alt="Legenda Companybook">
    <p class="fs-4">Descubra empresas próximas a você de maneira rápida, fácil e conveniente, com todas as informações essenciais para encontrar exatamente o que você procura. Tudo reunido em um único lugar.</p>
    
    <p class="fs-3">
      Sua organização busca vantagens <strong class="text-primary">exclusivas</strong>? Assine já!
    </p>
    <a class="btn btn-outline-success" href="https://wa.me/5588993082035" role="button">
      <span>Saiba mais</span> <i class="px-1 bi bi-whatsapp"></i>
    </a>
  </div>
</div>
