{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top" aria-label="navbar-head">
  <div class="container-fluid">
    <a class="navbar-brand" href={% url 'home' %}>
      <img class="img-fluid" style="height: 40px" src={% static 'images/logo2.png' %} alt="Logomarca da empresa Companybook">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-head" aria-controls="navbar-head" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-head">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href={% url 'home' %}>Home</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href={% url 'subs' %}>Assinantes</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href={% url 'about' %}>Sobre</a>
        </li>        
      </ul>
      <div>
        <a  class="fs-5 text-dark" href={% url 'admin:index' %}><i class="bi bi-person-fill-lock"></i></a>
      </div>
    </div>

</nav>